<%= form_for(@medic) do |f| %>
  <% if @medic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medic.errors.count, "error") %> prohibited this medic from being saved:</h2>

      <ul>
      <% @medic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , :maxlength => 30, :required => true %>

  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname, :maxlength => 30, :required => true %>

  </div>
  <div class="field">
    <%= f.label :license_number %><br>
    <%= f.number_field :license_number, :maxlength => 30, :required => true %>

  </div>
  <div class="field">
    <%= f.label :specialization %><br>
    <%= f.text_field :specialization, :maxlength => 30, :required => true %>

  </div>
    <%= f.label :office %>
    <%= f.collection_select(:office_id, Office.all, :id, :number) %>
    <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
