<%= form_for(@turn, :html => {:class => 'col s12'}) do |f| %>
  <% if @turn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

      <ul>
      <% @turn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="row">
        <div class="input-field col s1">
          <%= f.datetime_select :date %>
          <%= f.label :Dia_y_hora %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
            <%= f.collection_select(:patient_id, Patient.all, :id, :dni) %>
            <%= f.label :Dni_paciente%>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
            <%= f.collection_select(:medic_id, Medic.all, :id, :license_number) %>
            <%= f.label :Licencia_medico%>
        </div>
      </div>
    <%= f.submit %>
    </div>

<% end %>
<script>
$(document).ready(function() {
$('select').material_select();
});
</script>