<h4 class="center-align">Listing Turns</h4>

<div class="row center-align ">
  <a href="<%= new_turn_path %>" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
</div>

<div id="calendar"></div>

<script type='text/javascript'>

    $(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'month',
            selectable: true,
            eventClick: function (event, jsEvent, view) {
                window.location = location.href + '/' + event.turnId;
            },
            events: [
            <% @turns.each do |turn| %>
            {
                title  : '<%= turn.patient.name + " " + turn.patient.surname %>',
                start  : '<%= turn.date.to_formatted_s(:iso8601) %>',
                turnId : '<%= turn.id %>'

            },
            <% end %>
        ]
        });

    });

</script>
<style type='text/css'>
    #calendar {
        width: 900px;
        margin: 0 auto;
    }

</style>