<!DOCTYPE html>
<html>
<head>
  <title>TPFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Edit profile', edit_admin_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Logout", destroy_admin_session_path, method: :delete%></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Example Clinic</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to 'Medics', medics_path %></li>
      <li><%= link_to 'Patients', patients_path %></li>
      <li><%= link_to 'Turns', turns_path %></li>
      <li><%= link_to 'Offices', offices_path %></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><% if admin_signed_in? %>
          <li><a class="dropdown-button" href="#" data-activates="dropdown1">Logged in as <strong><%= current_admin.email %></strong><i class="material-icons right">arrow_drop_down</i></a></li>
        <% else %>
          <li><%= link_to "Sign up", new_admin_registration_path, :class => 'navbar-link'  %></li>
          <li> <%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="row">
  <div class="col s12">
<%= yield %>
    </div>
</div>
</body>
<script type="text/javascript" charset="utf-8">
    $( document ).ready(function()
    {
        $(".dropdown-button").dropdown();
    });
</script>
</html>
